/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix .matrix__more-inf {
  font-family: fantasy, cursive;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.items__label-task,
.items__input-task,
.add-item__input-new-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__new-task-wrapper {
  display: flex;
}

.items__task-list {
  margin: 0;
  padding: 0px;
}

.items__task,
.items__heading {
  list-style: none;
}

.button,
.items__input-task,
.add-item__input-new-task,
.items__checkbox {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.items__heading,
.add-item__heading-new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 43px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.items__input-task,
.add-item__input-new-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.items__input-task:focus,
.add-item__input-new-task:focus {
  color: #333;
}

/* New Task */
.add-item__heading-new-task {
  display: block;
  margin: 0 0 20px;
}

.add-item__input-new-task {
  width: 318px;
}

/* Task list */
.items__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items__task > * {
  vertical-align: middle;
}

.items__checkbox {
  margin: 0 10px;
}

.items__label-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.items__input-task {
  width: 226px;
}

.button__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed .items__label-task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.items__input-task,
.edit-mode .items__label-task {
  display: none;
}

.edit-mode .items__input-task {
  display: inline-block;
  width: 224px;
}

@media (max-width:768px) {

  .matrix { 
    text-align: center;
  }
  
}